@media screen and (min-width: 0px) {
    
    .mintednft_container{
        /* border: 2px solid #fff; */
        border-radius: 12px;
        background-color: #08067d;
        margin: 20px;
        width: 100%;
        max-width: 300px;
    }

    .mintednft_name{
        color: #090844;
        background-color: #17D2FB;
        max-width: 70%;
        padding: 12px;
        margin: 12px 12px 12px -1px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        text-align: center;
    }

    .mintednft_img{
        width: 100%;
        max-width: 400px;
    }

    .mintednft_minting_details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mintednft_nftprice{
        color: #17D2FB;
        margin: 15px 10px;
    }

    .mintednft_nftprice_price{
        color: #fff;
    }

    .mintednft_maxwallet{
        color: #17D2FB;
    }
    .mintednft_minted{
        background-color: #403DF342;
        color: #17D2FB;
        padding: 6px 10px;
        border-radius: 20px;
        font-weight: 700;
    }

    .mintednft_addsub{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 70px;
    }

    .mintednft_subbtn, .mintednft_addbtn{
        background-color: #17D2FB;
        color: #403DF3;
        padding: 5px 10px;
        border-radius: 8px;
        font-weight: 700;
        border: none;
    }

    .mintednft_mintamt{
        color: #17D2FB;
        font-weight: 700;
        padding: 6px 8px;
    }

    .mintednft_mintbtn{
        background-color: #17D2FB;
        width: 70%;
        text-align: center;
        max-width: 500px;
        border-radius: 14px;
        margin: 8px auto;
        font-weight: 700;
        padding: 7px 0px;
        border: none;
        color: #08067d;
        cursor: pointer;
    }

}